$font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$color-primary: rgb(100, 248, 14);
$border-color: #eaeaea;
$font-color: white;
$vote-button-color: darkgreen;
$mobile-width: 560px;
$tablet-width: 820px;

%html-body-shared {
    padding: 0;
  margin: 0;
  font-family: $font-stack
}
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $tablet-width) { @content ; }
 }
 @else if $point == tablet {
  @media (max-width: $tablet-width)  { @content ; }

}
 @else if $point == mobile {
    @media (max-width: $mobile-width)  { @content ; }

 }
}
html,
body {
  @extend %html-body-shared;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  background-color: $font-color;
  z-index: 1;
  .company-name {
      color: $color-primary;
      font-weight: 900;
  }
  .return-to-list {
    padding: 8px;
    font-weight: 500;
    border: 2px solid $border-color;
    border-radius: 8px;
    transition: font-size linear 0.2s;
    &:hover {
      font-weight: 700;
      font-size: 18px;
    }
  }
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(mobile){
    white-space: pre-wrap;
    width: 120%;
  }
}
.employees {
  text-align: center;
  list-style: none;
  .employee {
    padding: 16px;
    line-height: 48px;
    border: 2px solid $border-color;
    border-radius: 16px;
    margin-top: 1rem;
    transition: border linear 0.2s,
    padding linear 0.2s;
    a {
      display: grid;
      grid-template-areas:
      "img name-surname vote-button"
      "img job-title vote-button";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 300px 600px 80px; 
      height: 200px;
      @include breakpoint(tablet){
        grid-template-areas:
        "img name-surname vote-button"
        "img job-title vote-button";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 200px 500px 80px; 
        height: 180px;
      }
      @include breakpoint(mobile){
        grid-template-areas:
        "img name-surname name-surname"
        "img job-title job-title"
        "img vote-button vote-button";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 150px 200px 80px;
        height: 180px;
      }
    }
    .bold {
      font-weight: 700;
    }
    .image {
      grid-area: img;
      height: 180px;
    }
    .name-surname {
      grid-area: name-surname;
      white-space: nowrap;

    }
    .job-title {
      grid-area: job-title;
      white-space: nowrap;
      @include breakpoint(mobile){
        white-space: pre-wrap;
      }
    }
    .vote-button {
      grid-area: vote-button;
      width: 80px;
      height: 48px;
      border-radius: 8px;
      background-color: $vote-button-color;
      color: $font-color;
      align-self: center;
      transition: background-color linear 0.2s,
      font-size linear 0.2s;
      @include breakpoint(mobile){
        justify-self: center;
      }
      &:hover {
        background-color: $color-primary;
        font-size: 18px;
      }
    }

    &:hover {
      padding: 18px;
      border: 4px solid $border-color;
    }
  }
}
.employee-details {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  padding: 64px;
  line-height: 48px;
  border: 2px solid $border-color;
  border-radius: 6px;
  width: 560px;
  * {
    margin-left: 38px;
  }
  .bold {
    font-weight: 700;
  }
  .image {
    height: 260px;
  }
  .name,
  .surname,
  .job-title {
    white-space: nowrap;
  }
}
